<br />
<div class="jumbotron text-center">
	<h1>Blocipedia: Social, Markdown Wikis</h1>
		<p>Create your own personal wiki!</p>
		<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success sign-up' %>
</div>

<div class="row text-center">
	<div class="col-md-5">
		<h3>Create as many public <br />wikis as you want!</h3>
		<span class="glyphicon glyphicon-unchecked" /></span>
		<h3><%= link_to 'Free Plan', new_user_registration_path %></h3>
	</div>
	<div class="col-md-2">&nbsp;</div>
	<div class="col-md-5">
		<h3>Create private wikis!</h3>
		<span class="glyphicon glyphicon-unchecked" /></span>
		<h3><%= link_to 'Premium Plan', new_user_registration_path(t: 'premium'),"data-no-turbolink" => true %></h3>
	</div>

</div>


