<h1>Wikis List</h1>

<%if @wikis.count > 0 %>
	<%= render partial: 'wiki', collection: @wikis %>
<% else %>
	<p>No wikis have been created.</p>
<% end %>
<br />
<%=link_to 'Create a Wiki', new_wiki_path %>
