<h1>Wikis List</h1>

<%if @wikis.count > 0 %>
	<ul>
		<% @wikis.each do |wiki| %>
			<li><%= wiki.title %></li>
		<% end %>	
	</ul>
<% else %>
	<p>No wikis have been created.</p>
<% end %>
<br />
<%=link_to 'New Wiki', new_wiki_path %>
