<br />
<div class="row">
	<% if current_user %>
		<div class="col-md-6">
	<% else %>
		<div class="col-md-6 ">
	<% end %>
    <div class="panel panel-default">
      <div class="panel-heading text-center"><span style="font-size:28px">Free Wikis</span></div>
      <div class="panel-body">
        <%if @wikis.count > 0 %>
          <%= render partial: 'wiki', collection: @wikis %>
      <% else %>
          <p>No wikis have been created.</p>
      <% end %>
			<%= will_paginate @wikis, param_name: 'page_public' %>
        <br />
      </div>
    </div>
  </div>
	<%= render partial: 'private', locals: {private_wikis: @private_wikis, collaborations: @collaborations} if current_user %>
</div>

<div class="row">
  <div class="col-md-12">
		<% if current_user %>
			<%=link_to 'Create a Wiki', new_wiki_path, class:'btn btn-success' %>
		<% end %>
  </div>
